/src/*.egg-info/
*__pycache__*
/.vscode/

/data/
/data.zip
/experiments/
/experiments_temp/
/experiments_temp_llama3/
/experiments.llama3/
/experiments.phi3/
/experiments.tinyllama/
/experiments.timing/
/experiments.timing.zip
/experiments.ok/
/experiments.ok.zip
/*.old/
/logs/
/.old/
hf_token.txt